@import '/styles/global.scss';

.inputWrap {
  width: 100%;
  textarea:focus,
  input:focus {
    outline: none;
  }
}

.input {
  width: 100%;
  border: none;
  background-color: $greyLight;
  text-align: center;
  padding: 15px 0;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s linear;

  @media only screen and (max-width: $mob) {
    font-size: 15px;
  }

  &:focus {
    background-color: $greyDark;
  }
}
