/*COLORS*/

/*White*/
$white: #ffffff;

/*Grey*/
$grey:#e8e8e8;
$greyLight: #f7f7f7;
$greyDark: #a7a7a7;

/*Blue*/
$blue: #4290FC;
$blueDark: #2D344E;

/*Black*/
$black: #000;

/*Screnn size*/
$tab:770px;